{:profiles
 {:goku {:default true
         :sim     50
         :delay   80
         :alone   100
         :held    70}}
  :templates {
    :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
    :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
    :open "open \"%s\""
  }

  :simlayers {
    :caps_lock-mode {:key :caps_lock}
    :w-mode {:key :w}
  }

  :main [
    {
      :des "capskey",
      :rules [:caps_lock-mode
             [:open_bracket :!TOopen_bracket]
             [:close_bracket :!TOclose_bracket]
             [:semicolon :!TOsemicolon]
             [:quote :!TOquote]
             [:comma :!TOcomma]
             [:period :!TOperiod]
             [:slash :!TOslash]
             [:a :!TOa]
             [:b :!TOb]
             [:c :!TOc]
             [:d :!TOd]
             [:e :!TOe]
             [:f :!TOf]
             [:g :!TOg]
             [:h :!TOh]
             [:i :!TOi]
             [:j :!TOj]
             [:k :!TOk]
             [:l :!TOl]
             [:m :!TOm]
             [:n :!TOn]
             [:o :!TOo]
             [:p :!TOp]
             [:q :!TOq]
             [:r :!TOr]
             [:s :!TOs]
             [:t :!TOt]
             [:u :!TOu]
             [:v :!TOv]
             [:w :!TOw]
             [:x :!TOx]
             [:y :!TOy]
             [:z :!TOz]
             [:1 :!TO1]
             [:2 :!TO2]
             [:3 :!TO3]
             [:4 :!TO4]
             [:5 :!TO5]
             [:6 :!TO6]
             [:7 :!TO7]
             [:8 :!TO8]
             [:9 :!TO9]
             [:0 :!TO0]]
    }
    {
      :des "wkey (apps)"
      :rules [:w-mode
             [:e [:km "open: Fantastical"]]
             [:r [:km "open: Notion"]]
             [:t [:km "open: Activity Monitor"]]
             [:i [:km "open: Instruments"]]
             [:o [:km "open: Keyboard Maestro"]]
             [:p [:km "open: Postgres"]]
             [:caps_lock [:km "open: Finder"]]
             [:a :!OSC1] ; Open Dash
             [:d [:km "open: Paw"]]
             [:f [:km "open: 2Do"]]
             [:g [:km "open: Postico"]]
             [:h [:km "open: Proxyman"]]
             ;[:h [:km "open: Safari Technology Preview"]]
             [:j [:km "open: iTerm"]]
             [:k [:km "open: Safari"]]
             [:l [:km "open: VS Code"]]
             [:semicolon [:km "open: Xcode"]]
             [:c [:km "open: Spotify"]]
             [:v [:km "open: Linear"]]
             [:b [:km "open: BetterTouchTool"]]
             [:n [:km "open: Sublime Text"]]
             [:m [:km "open: Sublime Merge"]]
             ;[:period [:km "open: Console"]]
             [:spacebar :!CT7]]
    }
  ]
}
